
<!-- Ex1 -->
<!-- <div class="container mt-5">
  <h2 class="text-center mb-4">Fruit List</h2>
  <app-display-list></app-display-list>
</div> -->


<!-- Ex5 -->
<!-- <h2 class="text-center">Ex5: Fruit List</h2>
<br>
<div class="fruit-container">
  @for (fruit of fruits; track fruit.name) {
    <app-fruit [fruit]="fruit"></app-fruit>
  }
</div> -->

<!-- Ex6 -->
<!-- <h2 class="text-center">Ex6: Fruit List</h2>

<br>

<div class="d-flex flex-wrap justify-content-center">
  @for(fruit of fruits; track fruit.name) {
  <app-fruit [fruit]="fruit"></app-fruit>
  }
</div> -->


<!-- Ex7 -->
<h2 class="text-center">Ex6: Fruit List</h2>

<br>

<div class="fruit-list">
  @for (fruit of fruits; track fruit.name) {
    <app-fruit [fruit]="fruit" (btnClick)="remove($event)"></app-fruit>
  }
</div>





